body {
    background-color: powderblue;
}
h1 {
    color: red;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p, em {
    color: blue;
}
strong {
    color: red;
    font-size: 150%;
    border: 3px double black;
}