body {
    background-color: powderblue;
}
h1 {
    color: red;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
p, em {
    color: blue;
}
p.temp {
    color: red;
    border: 3px double black;
    display: inline-block;
    padding: 5px;
}
strong {
    color: red;
    font-size: 150%;
    border: 3px double black;
}
canvas{
    border: 1px solid black;
}